body{
    background-image: url("images/iPad\ mini\ -\ 1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    /* height: 800px; */

}
/* #container{
    width: 960px;
    margin: 0px auto;
} */


@media screen and (max-width:1024px){
    .mainmenu{
        width: auto;
    }
   
    .boxcontainer{
        width: auto;
    }
    img{
        width: auto;
    }
}

@media screen and (max-width:640px){
    .mainmenu{
        width: auto;
    }

    .boxcontainer{
        width: auto;
    }
    img{
        width: auto;
    }
}

@media screen and (max-width:639px){
    body{
        height: 790px;
        background-image: url("images/Group\ 34.png");
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
    }
    .mainmenu{
        width: auto;
    }

    .boxcontainer{
        width: auto;
    }
    img{
        width: auto;
    }
}



.mainmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    /* border: 2px dotted black; */
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.uploadbutton {
    padding-top: 20px;
}

.menubutton{
    padding-top: 18px;
}

.boximage{
    align-content: center;
    box-shadow: 0px 20px 20px 0px  rgba(26, 25, 25, 0.233);
    margin-top: 50px;
    padding: 50px;
    background-color: rgb(248, 248, 248);
    border-radius: 5%;
}



.boxcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 100%;
    padding-bottom: 10px;
    

}

.searchsthanak{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

.searchstate{
    box-shadow: 0px 20px 20px 0px  rgba(26, 25, 25, 0.233);
    padding: 50px;
    border-radius: 5%;
}

.searchbox{
    justify-content: center;
    display: flex; 
    flex-direction: column;
}

#cars{
    padding: 2% 30%;
    text-align: left;
    color: rgba(0, 0, 0, 0.459);
    font-size: 100%;
    margin: 2% 2%;
    border-radius: 15px;
    box-shadow: 0px 20px 20px 0px  rgba(26, 25, 25, 0.233);
    background-color: white;
    border: 2px solid #11111150;
  }
